body {
  width:100vw;
  height:100vh;
  margin:0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin:auto;
  padding:2% 0 2% 0;
}

.section {
  border: solid 1px black;
  margin: 20px;
  padding: 10px 30px 30px 30px;
  background-color: rgb(241, 241, 241);
  justify-content: center;
  align-items: center;
}

#signInButton {
  display:flex;
}

.sign-in-container, .sign-up-container {
  display: flex;
}

.signSection {
  display: flex;
  justify-content: space-between;

}

.signButton{
  margin-top:15px;
}

.userinfo {
  display:flex;
  padding-left:50px;;
  background-color: rgb(230, 230, 230);
}
